<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Top</title>
  </head>

  <body>
    <div class="top-image">
      <img src="/assets/login-image.jpg">
      <p>つぶやきアプリ</p>
    </div>
  
    <div class="about">
      <h1>つぶやきアプリについて</h1>
      <p>つぶやきアプリは、140文字までのつぶやきを投稿できるアプリです。<br>
　　  </p>
    </div>
    
    <div class="container">
      <div class="row">
          <h4 class="col-xs-offset-2 col-xs-8 
                     col-md-offset-2 col-md-3"><%= link_to 'つぶやき一覧', murmurs_path %></h4>
          <h4 class="col-xs-offset-2 col-xs-8
                     col-md-offset-2 col-md-3"><%= link_to '新しくつぶやく', new_murmur_path %></h4>
      </div>
　　</div>

  </body>
</html>