<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Top</title>
  </head>

  <body>
    <div class="top-image">
      <img src="/assets/login-image.jpg">
      <p>つぶやきアプリ</p>
    </div>
  
    <div class="about">
      <h1>つぶやきアプリについて</h1>
      <p>つぶやきアプリは、140文字までのつぶやきを投稿できるアプリです。<br>
　　  </p>
    </div>
  </body>
</html>